# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /

ErrorDocument 404  http://test1.ru/404.html

<Files .htpasswd> 
   deny from all 
</Files>

<IfModule mod_charset.c> 
  CharsetRecodeMultipartForms off 
  # и другие директивы mod_charset
</IfModule>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php